<?xml version="1.0"?>
<launch>
<!--Lidar Avoider Parameters-->
	   <arg name="range_min" default="-30"/>
	   <arg name="range_max" default="30"/>
	   <arg name="umbral" default="0.4"/>
	   <arg name="lin_x" default="-0.2"/>
	   <arg name="lin_y" default="0.0"/>
	   <arg name="ang_z" default="0.0"/>
	     
<!--Lidar Avoider Node-->
	    <node pkg="roboclaw_node" type="lidar_avoider.py" name="lidar_avoider_node" output="screen">
	       <param name="~range_min" value="$(arg range_min)"/>
	       <param name="~range_max" value="$(arg range_max)"/>
	       <param name="~umbral" value="$(arg umbral)"/>
	       <param name="~lin_x" value="$(arg lin_x)"/>
	       <param name="~lin_y" value="$(arg lin_y)"/>
	       <param name="~ang_z" value="$(arg ang_z)"/>
	  
	    </node>
	    
<!--Roboclaw Motor Controller Parameters-->
	    <arg name="dev1" default="/dev/ttyACM0"/>
	    <arg name="dev2" default="/dev/ttyACM1"/>
	    <arg name="baud" default="115200"/>
	    <arg name="address1" default="128"/>
	    <arg name="address2" default="129"/>
	    <arg name="max_speed" default="1.6"/>
	    <arg name="ticks_per_meter" default="4500"/>
	    <arg name="base_width" default="0.4223"/>
	    <arg name="cmd_frequency" default="20"/>

<!--Roboclaw Node-->
	    <node pkg="roboclaw_node" type="roboclaw_node.py" name="roboclaw_node" output="screen">
		<param name="~dev1" value="$(arg dev1)"/>
		<param name="~dev2" value="$(arg dev2)"/>
		<param name="~baud" value="$(arg baud)"/>
		<param name="~address1" value="$(arg address1)"/>
		<param name="~address2" value="$(arg address2)"/>
		<param name="~max_speed" value="$(arg max_speed)"/>
		<param name="~ticks_per_meter" value="$(arg ticks_per_meter)"/>
		<param name="~base_width" value="$(arg base_width)"/>
		<param name="~cmd_frequency" value="$(arg cmd_frequency)"/>
	    </node>


	    <node pkg="diagnostic_aggregator" type="aggregator_node"
		  name="diagnostic_aggregator">
		<rosparam command="load"
		          file="$(find roboclaw_node)/config/roboclaw_diag.yaml"/>
	    </node>
	    
<!--Joy Node Params-->
	  <arg name="joy_config" default="ps3" />
	  <arg name="joy_dev" default="/dev/input/js0" />
	  <arg name="config_filepath" default="$(find joy_ros)/config/joy.config.yaml" />
	  <arg name="joy_topic" default="joy" />
	  
	  <remap from="cmd_vel" to="cmd_vel_joy" />
<!--Joy Node-->
	  <node pkg="joy" type="joy_node" name="joy_node">
	    <param name="dev" value="$(arg joy_dev)" />
	    <param name="deadzone" value="0.3" />
	    <param name="autorepeat_rate" value="20" />
	    <remap from="joy" to="$(arg joy_topic)" />
	  </node>

	  <node pkg="teleop_twist_joy" name="teleop_twist_joy" type="teleop_node">
	    <rosparam command="load" file="$(arg config_filepath)" />
	    <remap from="joy" to="$(arg joy_topic)" />
	  </node>

    
	    
<!--ydlidar Node-->
	     <node name="ydlidar_node" pkg="ydlidar" type="ydlidar_node" output="screen" respawn="false" >

	      <param name="port" type="string" value="/dev/ydlidar"/>

	      <param name="baudrate" type="int" value="128000"/>

	      <param name="frame_id" type="string" value="laser_frame"/>

	      <param name="low_exposure" type="bool" value="false"/>

	      <param name="resolution_fixed" type="bool" value="true"/>

	      <param name="auto_reconnect" type="bool" value="true"/>

	      <param name="reversion" type="bool" value="false"/>

	      <param name="angle_min" type="double" value="-180" />

	      <param name="angle_max" type="double" value="180" />

	      <param name="range_min" type="double" value="0.1" />

	      <param name="range_max" type="double" value="16.0" />

	      <param name="ignore_array" type="string" value="" />

	      <param name="samp_rate" type="int" value="9"/>

	      <param name="frequency" type="double" value="7"/>

	     </node>

	     <node pkg ="tf" type="static_transform_publisher" name="map_to_odom" args="0.0 0.0 0.0 0.0 0.0 0.0 /map /nav 40"/>

	     <node pkg ="tf" type="static_transform_publisher" name="odom_to_base_link" args="0.0 0.0 0.0 0.0 0.0 0.0 /nav /base_footprint 40"/>

	     <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.2245 0.0 0.2 0.0 0.0 0.0 /base_footprint /laser_frame 40" />

	     <include file="$(find hector_mapping)/launch/mapping_default.launch" />

	     <!-- Parameters for dynamic elements <node pkg="rviz" name="rviz" type="rviz" args="-d $(find ydlidar)/launch/lidar.rviz" />   -->
	     
	     <node pkg="rviz" name="rviz" type="rviz" args="-d $(find ydlidar)/launch/lidar.rviz" />
	     

	     <include file="$(find hector_geotiff_launch)/launch/geotiff_mapper.launch" />



</launch>
